@media screen and (max-width: 1550px) {
  .about .slick-dots {
    padding-bottom: 25%;
    padding-right: 7%;
  }

  .news .slick-prev {
    left: -30px;
  }
  .news .slick-next {
    right: -10px;
  }
}
@media screen and (max-width: 1400px) {
  .about .slick-dots {
    padding-bottom: 29%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 1300px) {
  .about .slick-dots {
    padding-bottom: 32%;
  }

  .project {
    padding: 70px 0 100px;
  }
  .project__title {
    padding-bottom: 50px;
  }
  .project__block-first {
    padding: 0 0 80px;
  }
  .project__image_first {
    padding: 30px 0 0 0;
  }
  .project__image_first img {
    box-shadow: none;
    z-index: none;
  }
  .project__image_second {
    padding: 50px 0 0 0;
  }
  .project__image_second img {
    box-shadow: none;
    z-index: none;
  }

  .news {
    padding: 125px 0 175px;
  }
}
@media screen and (max-width: 1200px) {
  .about .slick-dots {
    padding-bottom: 35%;
    padding-right: 3%;
  }

  .contact__field {
    max-width: 670px;
    max-height: 392px;
    width: 100%;
    z-index: 400;
    position: absolute;
    bottom: -21%;
    left: 20%;
    padding: 60px 20px 40px;
  }
  .contact__title {
    padding: 0 0 35px;
  }
}