@media screen and (max-width: 1180px) {
  .home__bg {
    background-position: 50% right;
    height: 100vh;
  }
  .home__wrapper {
    max-width: 45%;
  }
  .home__title h2 {
    font-size: 3.4375rem;
  }

  .about__column {
    gap: 60px;
  }

  .support .row__first {
    gap: 50px;
    padding-bottom: 50px;
  }
  .support .row__second {
    gap: 50px;
  }
  .support__list {
    gap: 50px;
    padding-bottom: 80px;
  }

  .footer__column {
    gap: 60px;
  }
}
@media screen and (max-width: 999px) {
  .header__menu, .header__button {
    display: none;
  }
  .header .hamburger_menu {
    display: block;
  }

  .home__bg {
    background-position: 70% top;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
  }
  .home__wrapper {
    color: #fff;
    max-width: 60%;
    overflow: hidden;
  }
  .home__button_video {
    color: #fff;
  }

  .about {
    padding-bottom: 5px;
  }
  .about__column {
    flex-direction: column;
  }
  .about__left {
    flex: 0 1 auto;
  }
  .about__title {
    max-width: 100%;
    text-align: center;
  }
  .about__right {
    flex: 0 1 auto;
  }

  .place {
    padding: 80px 0 70px;
  }
  .place__card {
    padding-bottom: 80px;
  }
  .place__count {
    gap: 90px;
  }

  .support {
    padding: 70px 0 0;
  }
  .support__wrapper::after {
    display: none;
  }
  .support .row__first {
    flex-direction: column;
    gap: 30px;
    padding-bottom: 60px;
  }
  .support__title {
    flex: 0 1 auto;
    text-align: center;
  }
  .support__subtitle {
    flex: 0 1 auto;
  }
  .support .row__second {
    flex-direction: column;
  }
  .support__image {
    flex: 0 1 auto;
  }

  .footer__column {
    flex-direction: column;
    gap: 30px;
    border-bottom: 1px solid #4A4949;
  }
  .footer__main {
    flex: 0 1 auto;
  }
  .footer__service {
    flex: 0 1 auto;
  }
  .footer__contacts {
    flex: 0 1 auto;
  }
  .footer__contacts-data:last-child {
    padding-bottom: 15px;
  }
  .footer__service_title, .footer__contacts_title {
    padding-bottom: 25px;
  }
  .footer__text {
    padding-bottom: 25px;
  }
  .footer .media__items {
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 750px) {
  .home__bg {
    padding: 190px 0 70px;
  }
}