@import "hamburger";

$base_size:16;

@mixin fz($px_size) {
    font-size: ($px_size/$base_size)+rem;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    /*  scroll-behavior: smooth; */
}

img {
    vertical-align: top;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}

body {
    font-family: 'Lato', 'DMSerifDisplay';
    font-size: 1rem;
    color: #1D1B1B;
}

.container {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.03em;
    line-height: 150%;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
}

.btn-style {
    background-color: #FF492F;
    transition: all .4s ease-in-out;
    background-position: 20% 0%;
    background-size: 100% 100%;
    color: #fff;
    &:hover {
        background-position: 20% 0;
        background-size: 550% 100%;
        background: linear-gradient(45deg, rgb(79, 228, 228), rgb(241, 60, 32));
        font-family: 'Lato';
        letter-spacing: 0.03em;
        font-weight: 500;
        color: #1D1B1B;
        transform: translateY(-3px);
    }
}

.place__btn_orange {
    width: 133px;
    padding: 15px 25px;
    text-transform: uppercase;
}

.modal__button, .callback__button {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        background: linear-gradient(135deg, rgb(76, 76, 76), rgb(0, 0, 0));
        border: 2px solid #fff;
        color: #fff;
        &:hover {
            background: #fff;
            border: 2px solid #FF492F;
            transform: translateY(0px);
            color: #000;
        }
    }
}

// Отключить округление элемента ввода iPhone / Safari
input {
    border-radius: 0;
    -webkit-appearance: none;
}

.title {
    font-family: 'Lato';
    font-weight: 700;
    @include fz(48);
    line-height: calc(70/48 * 100%);
}

.title-section {
    font-family: 'Lato';
    @include fz(32);
    font-weight: 700;
    line-height: calc(46/32 * 100%);
    padding-bottom: 20px;
}

.subtitle {
    font-family: 'Lato';
    @include fz(16);
    font-weight: 400;
    // формула адаптивного изменение высоты в %, где 24 это изнач.высота в px
    line-height: calc(24/16 * 100%);
}

.text_orange {
    color: #FF492F;
}

.media__links a svg:hover,
.mobile__media_links:hover {
    transform: scale(1.2);
    transition: all .3s ease-in-out;
}

.modal__callback {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2px);
    overflow: auto;
    .callback__field {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .callback__content {
        position: relative;
        max-width: 400px;
        padding: 30px;
        background: linear-gradient(45deg, rgb(245, 96, 73), rgb(29, 27, 27));
        color: #fff;
        font-family: 'Lato';
    }
    .callback__close_btn {
        position: absolute;
        top: -12px;
        right: -12px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: linear-gradient(45deg, rgb(245, 96, 73), rgb(29, 27, 27));
        cursor: pointer;
        &:before {
            content: '';
            background-color: #fff;
            position: absolute;
            height: 2px;
            width: 20px;
            top: 15px;
            left: 5px;
            transform: rotate(-45deg);
            opacity: 0.75;
        }
        &:after {
            content: '';
            background-color: #fff;
            position: absolute;
            height: 2px;
            width: 20px;
            top: 15px;
            transform: rotate(45deg);
            left: 5px;
            opacity: 0.75;
        }
        &:hover:before, &:hover::after {
            opacity: 1;
        }
    }
    .callback__title {
        padding-bottom: 30px;
        @include fz(19);
        text-align: center;
    }

    .callback__form {
        label, input{
            width: 100%;
            outline: none;
            border: none;
            height: 1.8rem;
        }
        input {
            border-left: 5px solid rgba(126, 128, 129, 0);
            background-color: #fff;
            width: 100%;
        }
        ::placeholder {
            color: #1D1B1B;
            padding-left: 5px;
        }
        input:focus {
            background-color: #d4a19a;
            opacity: 1;
            border-left: 5px solid #360802;
        }
        .callback__phone, .callback__name {
            padding-bottom: 20px;
        }
    }
}

#booking-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
    overflow: auto;
    .modal__field {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal__content {
        position: relative;
        max-width: 600px;
        padding: 40px;
        background-color: #FF492F;
        color: #fff;
        font-family: 'Lato';
    }
    .modal__close_btn {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        &:before {
            content: '';
            background-color: #fff;
            position: absolute;
            height: 3px;
            width: 27px;
            top: 11px;
            left: -4px;
            transform: rotate(-45deg);
        }
        &:after {
            content: '';
            background-color: #fff;
            position: absolute;
            height: 3px;
            width: 27px;
            top: 11px;
            transform: rotate(45deg);
            left: -4px;
        }
    }
    .modal__title h5 {
        text-transform: uppercase;
        @include fz(42);
        font-weight: 700;
        line-height: calc(54/42 * 100%);
        padding-bottom: 20px;
        text-align: center;
        letter-spacing: 0.05em;
    }
    .modal__form {
        label, input, select {
            width: 100%;
            outline: none;
            border: none;
            height: 1.8rem;
            transition: all 0.2s ease;
        }
        .form-row {
            padding-bottom: 20px;
        }
        ::placeholder {
            color: #1D1B1B;
            padding-left: 5px;
        }

        .form-field {
            border-left: 5px solid transparent;
            background-color: #fff;
            width: 100%;
            // &:valid {
            //     border-color: green;
            // }
            &:invalid {
                border-color: red;
            }
        }
        .form-field:focus {
            background-color: #f5bab1;
            opacity: 1;
            border-left: 5px solid #0490bb;
            &:invalid {
                border-color: red;
            }
        }
    }
}


.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, .0);
    z-index: 200;
    transition: all .2s ease;

    &__block {
        height: 100%;
    }
    &__main {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }
    &__logo {
        a {
            display: flex;
            gap: 15px;
        }
        &_name {
            display: block;
            padding-top: 10px;
        }
    }
    &__content {
        height: 100%;
    }

    .nav__menu ul {
        list-style: none;
        display: flex;
        // Конструкция отступов в меню(кроме последнего пункта)
        li:not(:last-child) {
            margin-right: 20px;
        }
        li {
            a {
                text-decoration: none;
                color: #1D1B1B;
                font-weight: 600;
                position: relative;
                padding: 7px;
                // имитация бордера(от дергания при наведении)
                border: 2px solid transparent;
                transition: all .4s ease-in-out;
                &:hover {
                    border: 2px solid #FF492F;
                    // border: 2px solid #1D1B1B;
                    border-radius: 25px;
                }
            }
            a.active {
                border: 2px solid #1D1B1B;
                // border: 2px solid #FF492F;
                border-radius: 25px;
              }
        }
    }

    &__button_orange {
        width: 110px;
        min-height: 40px;
    }
}

.header.fixed_header {
    height: 60px;
    background: linear-gradient(243.43deg, rgb(255, 73, 47, .8) 16%, rgba(68, 65, 65, 0.8) 90%);
    backdrop-filter: blur(5px);
    // z-index: 199;
    .nav__menu ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li a {
            color: #fff;
            &:after {
                background-color: #8d2110;
            }
        }
    }
    .header__button_orange {
        background: linear-gradient(135deg, rgb(76, 76, 76), rgb(0, 0, 0));
        background-color: transparent;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.23);
        color: #fff;
        opacity: 0.8;
        &:hover {
            background: #fff;
            transform: translateY(0px);
            color: #000;
        }
    }
}


.home {
    &__bg {
        padding: 250px 0 0;
        background-position: 50% top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    &__wrapper {
        // max-width: 520px;
        max-width: 44%;
    }
    &__title h2 {
        font-family: 'DMSerifDisplay';
        font-weight: 400;
        @include fz(64);
        padding-bottom: 17px;
    }
    &__subtitle p {
        padding-bottom: 60px;
    }
    &__button {
        padding-bottom: 130px;
        width: 150px;
        height: 50px;
        &_video {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            cursor: pointer;
            font-family: 'Lato';
            font-weight: 500;
            line-height: calc(20/16 * 100%);
            @include fz(16);
            color: #1D1B1B;

            &::before {
                content: '';
                padding-right: 45px;
                background-image: url("../images/svg/video-orig.svg");
                background-size: 40px 40px;
                background-repeat: no-repeat;
                height: 40px;
                width: 40px;
                opacity: 0.75;
            }
            &:hover:before {
                opacity: 1;
            }&:hover {
                transform: scale(1.01);
            }
            &:hover {
                transform: scale(1.01);
            }
        }
    }
}


.place {
    padding: 70px 0 0px;
    font-family: 'Lato';
    background-color: #e5e2e2;
    // background-color: #F4F4F4;
    &__header {
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &__title h4 {
        @include fz(32);
    }
    &__subtitle {
        width: 60%;
        padding-bottom: 40px;
        color: #4A4949;
    }
    &__button a {
        text-decoration: none;
    }

    &__card {
        padding-bottom: 50px;
        list-style: none;
        margin: 0 -15px;
        .card__item {
            height: 100%;
            width: 100%;
            list-style: none;
            position: relative;
            padding: 15px;
            // cursor: pointer;
            // &:hover {
            //     transform: scale(1.01);
            //     transition: all .3s ease-in;
            //     overflow: hidden;
            // }
        }
        .card__image {
            position: relative;
            &_link {
                cursor: zoom-in;
            }
        }
        .card__price {
            position: absolute;
            bottom: 50px;
            right: 30px;
            padding: 24px 11px;
            background-color: rgb(255, 255, 255, .8);
            text-align: center;
            text-decoration: none;
            color: #FF492F;
            font-weight: 700;
            line-height: calc(24/16 * 100%);
        }
        .card__content {
            padding: 20px 20px 10px;
            background-color: #fff;
        }
        .card__title h6 {
            font-weight: 600;
            @include fz(18);
            height: 45px;
            padding-bottom: 20px;
            text-transform: uppercase;
        }
        .card__subtitle p {
            padding-bottom: 20px;
            position: relative;
            height: 130px;
            overflow: hidden;
            &:after {
                content: "";
                text-align: right;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                height: 1.2em;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 100%);
                pointer-events: none;
            }
        }
        .card__link {
            position: relative;
            bottom: 0;
            button {
                @include fz(16);
                font-weight: 500;
                text-decoration: none;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }

        .slick-dots {
            width: 0%;
            display: flex;
            bottom: 0;
            left: 47%;
            li {
                margin-right: 15px;
                width: 20px;
                height: 20px;
            }
        }
        .slick-dots li button {
            width: 10px;
            height: 10px;
        }
        .slick-dots li button:hover:before,
        .slick-dots li button:focus:before {
            background-color: #701a0d;
            opacity: 1;
            transition: all .3s ease-in-out;
        }
        .slick-dots li button:before {
            font-size: 0px;
            line-height: 10px;
            width: 10px;
            height: 10px;
            content: '•';
            opacity: 1;
            color: #fff;
            border: 1px solid #000;
            border-radius: 50%;
        }
        .slick-dots li.slick-active button:before {
            opacity: 1;
            color: #fff;
            background-color: #FF492F;
        }
        .slick-prev:before {
            display: block;
            content: '';
            background-image: url('../images/svg/arrow-left.svg');
            background-size: 40px 40px;
            height: 40px;
            width: 40px;
            transform: rotate(-90deg);
        }
        .slick-next:before {
            display: block;
            content: ' ';
            background-image: url('../images/svg/arrow-right.svg');
            background-size: 40px 40px;
            height: 40px;
            width: 40px;
            transform: rotate(90deg);
        }
        .slick-prev {
            right: 0px;
            left: -35px;
        }
        .slick-next {
            right: -15px;
        }
    }

    &__stock {
        background-color: #FBFBFB;
    }
    &__count {
        padding: 43px 0;
        display: flex;
        justify-content: space-between;
        gap: 182px;
        // background-color: #FBFBFB;
        list-style: none;

        .count__column {
            flex: 0 1 33.333%;
            text-align: center;
            &_calculation {
                font-weight: 800;
                @include fz(56);
                line-height: 146%;
                padding-bottom: 20px;
            }
            &_green {
                color: green;
            }
            &_text {
                font-weight: 400;
                @include fz(30);
            }
            a {
                cursor: pointer;
                text-decoration: none;
                color: #1D1B1B;
            }
        }
    }
}


.about {
    padding: 70px 0 0;

    &__column {
        display: flex;
        justify-content: space-between;
        gap: 137px;
    }

    &__left {
        font-family: 'Lato';
        flex: 0 1 50%;
    }

    &__left_question {
        color: #FF492F;
        position: relative;
        padding: 0 0 40px 100px;

        &::before {
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
            width: 76px;
            height: 1px;
            border-bottom: 1px solid #FF492F;
        }
    }

    &__title {
        max-width: 60%;
        padding-bottom: 20px;

        h3 {
            font-weight: 600;
            @include fz(48);
        }
    }

    &__subtitle {
        color: #4A4949;
        padding-bottom: 40px;
    }

    &__right {
        flex: 0 1 50%;
    }

    &__gallery {
        display: grid;
        gap: 30px;
        grid-template-areas:
            "image-first image-second"
            "image-third image-second"
            "image-third image-fourth";

        .image-first {
            grid-area: image-first;
        }

        .image-second {
            grid-area: image-second;
        }

        .image-third {
            grid-area: image-third;
        }

        .image-fourth {
            grid-area: image-fourth;
        }
    }
}


.video {
    padding: 90px 0 30px;
    &__text {
        font-family: 'Lato';
        text-align: center;
        padding-bottom: 30px;
    }
    &__subtitle p {
        color: #4A4949;
    }

    &__content {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding-bottom: 50px;
        li {
            position: relative;
            a {
                cursor: pointer;
                &:before {
                    content: "";
                    display: inline-block;
                    width: 52px;
                    height: 52px;
                    margin: -26px 0 0 -26px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    background: url(../images/svg/youtube.svg) 0 0 no-repeat;
                    z-index: 50;
                    opacity: 0.75;
                }
                &:hover:before {
                    opacity: 1;
                }
            }
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
        }
    }
}


.gallery {
    padding: 60px 0 50px;
    &__text {
        font-family: 'Lato';
        text-align: center;
        padding-bottom: 30px;
    }
    &__subtitle p {
        color: #4A4949;
    }
    &__album {
        padding-bottom: 50px;
        display: grid;
        gap: 30px;
        grid-template-areas:
            "image-first image-second image-third"
            "image-first image-fifth image-third"
            "image-fourth image-fifth image-sixth";
    }
    .image-first {
        grid-area: image-first;
    }
    .image-second {
        grid-area: image-second;
    }
    .image-third {
        grid-area: image-third;
    }
    .image-fourth {
        grid-area: image-fourth;
    }
    .image-fifth {
        grid-area: image-fifth;
    }
    .image-sixth {
        grid-area: image-sixth;
    }
    &__link {
        display: inline-block;
        position: relative;
        line-height: 0;
        &:after {
            content: "";
            opacity: 0;
            transition: opacity 0.4s ease-in-out;
        }
        &:hover:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: transparent;
            background-image: linear-gradient(45deg, rgb(29, 27, 27), rgb(255, 73, 47));
            opacity: 0.8;
        }
        &:before {
            content: "";
            opacity: 0;
            transition: opacity 0.4s;
        }
        &:hover:before {
            content: "";
            display: inline-block;
            width: 52px;
            height: 52px;
            margin: -26px 0 0 -26px;
            position: absolute;
            top: 50%;
            left: 50%;
            background: url(../images/svg/plus.svg) 0 0 no-repeat;
            z-index: 50;
            opacity: 1;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            text-decoration: none;
        }
    }
}


.support {
    padding: 128px 0 0;
    background-color: #1B1B1B;
    color: #fff;

    &__wrapper {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 55%;
            height: 70px;
            background-color: rgb(255, 255, 255);
            z-index: 1;
        }
    }

    .row__first {
        display: flex;
        justify-content: space-between;
        gap: 70px;
        padding-bottom: 95px;
    }
    &__title {
        padding: 0 25px 10px;
        flex: 0 1 50%;
        h4 {
            font-weight: 700;
            @include fz(32);
            line-height: calc(38/32 * 100%);
            text-transform: uppercase;
            letter-spacing: 0.04em;
        }
    }

    &__subtitle {
        flex: 0 1 50%;
    }

    .row__second {
        display: flex;
        justify-content: space-between;
        gap: 70px;
    }
    &__image {
        flex: 0 1 50%;
        z-index: 9;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__list {
        flex: 0 1 50%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 70px;
        padding-bottom: 80px;
    }

    &__icon {
        padding-bottom: 20px;
        svg {
            width: 49px;
            height: 49px;
        }
    }

    .item__title {
        padding-bottom: 20px;
        h6 {
            font-weight: 800;
            @include fz(22);
            letter-spacing: 0.05em;
        }
    }
}


.clients {
    font-family: 'Lato';
    padding-bottom: 95px;

    &__layer {
        height: 560px;
        // background-color: #F4F4F4;
        background-color: #e5e2e2;
        position: relative;
        z-index: 2;
    }
    &__text {
        padding-top: 120px;
        padding-bottom: 20px;
    }
    &__title {
        text-align: center;
        font-weight: 700;
        @include fz(48);
        line-height: calc(70/48 * 100%);
    }
    &__column {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding-bottom: 50px;
        list-style: none; 
    }
    &__cards {
        position: relative;
        z-index: 3;
        background-color: #fff;
        margin-top: -196px;
        flex: 0 1 33.333%;
        box-shadow: 0px 5px 10px 4px rgba(97, 94, 94, 0.2);
    }
    &__content {
        padding: 75px 25px 110px;
    }
    &__review {
        // position: relative;
        height: auto;
        p {
            color: #4A4949;
            &::before {
                content: '';
                padding-right: 35px;
                background-image: url("../images/svg/clients-quotation.svg");
                background-size: 24px 24px;
                background-repeat: no-repeat;
                height: 24px;
                width: 24px;
                font-size: 200%;
            }
        }
    }
    &__footer {
        position: absolute;
        bottom: 40px;
        display: flex;
    }
    &__info {
        margin-left: 20px;
        :first-child {
            padding-bottom: 5px;
        }
        &_occupation {
            color: #078E14;
        }
    }
    &__avatar img {
        width: 51px;
        border-radius: 60px;
        border: 1px solid #007EFF;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        &_link {
            text-decoration: none;
            padding: 15px;
        }
    }
}


.team {
    font-family: 'Lato';
    padding-bottom: 130px;
    &__title h3 {
        text-align: center;
        padding-bottom: 25px;
    }

    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        li {
            list-style: none;
            width: 100%;
            height: 100%;
            a {
                text-decoration: none;
                display: block;
                position: relative;
                line-height: 0;
                &:after {
                    content: "";
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                }
                &:hover:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    // background: transparent #000;
                    background: rgba(16, 100, 174, 0.9);
                    opacity: 0.6;
                    z-index: 10;
                }
                &:hover .team__text {
                    transition: all 0.3s ease-in-out;
                    opacity: 1;
                }
            }
        }
    }

    &__text {
        text-align: center;
        opacity: 0;
        position: absolute;
        color: rgb(255, 255, 255);
        top: 20%;
        transition: all 0.3s ease-out;
        z-index: 20;
        padding: 10px 20px;
    }
    &__name {
        font-family: 'Lato';
        @include fz(32);
        font-weight: 700;
        line-height: calc(46/32 * 100%);
        padding-bottom: 20px;
    }
    &__occupation {
        padding-bottom: 20px;
    }
    &__subtitle p {
        @include fz(14);
        font-weight: 400;
        line-height: calc(20/14 * 100%);
        // Прием Многоточие к лишнему тексту...
        // overflow: hidden;
        // text-overflow: ellipsis;
        // display: -webkit-box;
        // -webkit-line-clamp: 4;
        // -webkit-box-orient: vertical;
    }
}


.booking {
    &__layer {
        padding: 80px 0 120px;
        background-position: 50% 20%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__content {
        width: 100%;
        color: #fff;
    }
    &__title {
        width: 70%;
        padding-bottom: 20px;
    }
    &__subtitle {
        width: 65%;
        padding-bottom: 40px;
    }
    &__button {
        width: 135px;
        height: 63px;
    }
    &__btn {
        background-color: #fff;
        color: #000;
        &:hover {
            background: rgb(255, 73, 47);
            color: #fff;
        }
    }
}


.map {
    &__wrapper {
        height: 465px;
        z-index: 10;
        position: relative;
        &__link {
            &_pic {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }
        p {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            width: 100%;
            height: 100%;
            background-color: #000;
            justify-content: center;
            align-items: center;
            color: #fff;
            text-decoration: none;
            font-size: 40px;
            opacity: 0;
            transition: all .2s ease;
        }
        a:hover p {
            opacity: .5;
        }

    }

    .map_popup {
        display: flex;
        justify-content: space-between;
    }
    .map_popup img {
        width: 100px;
        margin-right: 10px;
    }
    .leaflet-popup-content-wrapper {
        border-radius: 10px;
    }
}


.footer {
    background-color: #1D1B1B;
    color: #F2F2F2;

    ul {
        list-style: none;
    }

    li a {
        text-decoration: none;
        color: #F2F2F2;
    }

    &__wrapper {
        padding: 40px 0 0;
    }

    &__arrow {
        margin-top: -85px;
        display: flex;
        justify-content: flex-end;

        .arrow__content_icon {
            padding: 60px 71px;
            background-color: #FF492F;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            text-decoration: none;
            color: #fff;
            cursor: pointer;
            @include fz(50);
        }
    }

    &__column {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 135px;
    }

    &__main {
        flex: 0 1 50%;
    }

    &__row {
        flex: 0 1 50%;
        display: flex;
        justify-content: space-between;
        gap: 135px;
    }

    &__contacts_link img {
        width: 24px;
        margin-right: 15px;
    }

    &__service_title,
    &__contacts_title {
        padding-bottom: 45px;
    }

    &__text {
        padding-bottom: 45px;
    }

    &__service_title,
    &__contacts_title {
        font-family: 'Lato';
        font-weight: 500;
        color: #fff;
        @include fz(24);
        line-height: calc(35/24 * 100%);
    }

    .list__service li:not(:last-child) {
        margin-bottom: 15px;
    }

    &__contacts-column li:not(:last-child) {
        margin-bottom: 20px;
    }

    &__logo {
        a {
            display: flex;
            gap: 15px;
            padding-bottom: 35px;
        }

        &_icon {
            width: 36px;
            height: 44px;
            // margin-right: 15px;
        }

        &_name {
            margin-top: 10px;
            width: 126px;
            height: 30px;
        }
    }

    .media__items {
        list-style: none;
        padding-bottom: 55px;
        border-bottom: 1px solid #4A4949;

        li {
            cursor: pointer;
            display: inline-block;

            +li {
                padding-left: 15px;
            }

            a {
                svg {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}


.hamburger_menu {
    display: none;
    position: relative;
    button {
        padding: 5px;
        position: absolute;
        top: -15px;
        right: 15px
    }
    a {
        display: inline-block;
        width: 40px;
        height: 40px;
    }
}

.page_overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 33, 33, 0.7);
    z-index: 990;
    backdrop-filter: blur(2px);
}

.mobile_menu_wrap {
    position: fixed;
    top: 0;
    left: -110%;
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, rgb(245, 96, 73), rgb(29, 27, 27));
    box-shadow: 0 0 10px #000;
    transition: all 0.9s ease;
    z-index: 1000;
    max-width: 400px;

    .sidemenu_top {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile__logo {
        padding: 20px 10px 20px;
        a {
            display: flex;
            gap: 10px;
        }
        &_icon {
            width: 36px;
            height: 44px;
        }
        &_name {
            margin-top: 10px;
            width: 126px;
            height: 30px;
        }
    }
    .sidemenu {
        li {
            border-bottom: 1px solid rgb(194, 191, 191);
            a {
                display: inline-block;
                text-align: center;
                padding: 15px;
                text-decoration: none;
                @include fz(20);
                font-weight: 700;
                text-transform: uppercase;
                width: 100%;
                color: #fff;
                letter-spacing: 0.1em;
            }
        }
    }
    .mobile__footer {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .mobile__media {
            list-style: none;
            li {
                cursor: pointer;
                display: inline-block;
                +li {
                    padding-left: 15px;
                }
                a svg {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        .mobile__button {
            button {
                background: linear-gradient(135deg, rgb(76, 76, 76), rgb(0, 0, 0));
                border: 2px solid #fff;
                color: #fff;

                &:hover {
                    background: #fff;
                    border: 2px solid #FF492F;
                    transform: translateY(0px);
                    color: #000;
                }
            }
        }
    }
}

.open {
    .page_overlay {
        display: block;
    }

    .mobile_menu_wrap {
        left: 0;
    }
}

.hamburger--spring .hamburger-inner {
    background-color: #000;
}

.hamburger--spring .hamburger-inner::before {
    background-color: #000;
}

.hamburger--spring .hamburger-inner::after {
    background-color: #000;
}

.hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    background-color: #fff;
}

.hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    background-color: #fff;
}